@font-face {
  font-family: NotoSans;
  src: url("./Noto_Sans_HK/NotoSansHK-Regular.otf");
}

body {
  margin: 0;
  font-family: NotoSans !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
